{% extends 'layout.html' %}

{% block additional_scripts %}

{% endblock %}

{% block title %}edit session{% endblock %}

{% block body %}
<h2 id="session_id">{{ dnd_session.id }}</h2>
<button id="tagall" class="btn btn-primary">Tag All</button>


<h3>events</h3>
<div id="entries_container" class="container">

</div>
<h2>location:</h2>
<textarea></textarea>

<h3>Conclusion</h3>
<h3>Key events</h3>
<button id="process_journal_button">Process</button>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='get_entries.js' ) }}"></script>
{% endblock %}