{% extends 'layout.html' %}

{% block script%}

{% endblock %}

{% block title %} log Journal {% endblock %}

{% block body %}

    <a href="new_session">new_session</a>

    <h1>Locations</h1>
    <ul id="visited_locations_list">
        
    </ul>

    <h1>Heros</h1>
    <ul id="heros_list">
        
    </ul>
    <dialog close>This is an open dialog window</dialog>

    <h1>Encouter</h1>
    <ul id="encouters_locations_list">


    </ul>

    <h1>Events</h1>
    <ul id="locations_list">

        

    </ul>

    <script src="static/log_journal.js"></script>
    
{% endblock %}

