{% extends 'layout.html' %}


{% block title %}{{ dnd_session.id }}{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
<div class="container-flex text-center">

    <div class="row justify-content-between">
    
        <h1 class="col-auto mb-0 ">{{ dnd_session.id}}</h1>
        
        <!-- This depend that the get_entries.js is loaded because the edit_session fuction come from there -->
        <button class="btn col-auto p-0 fs-1" id="editSession" onclick="edit_session({{ dnd_session.id }})">📝</button>
    </div>
</div>


    
<hr>
<h2>Report Date: </h2>
<ul>
    {% if dnd_session.date %}
        {{ dnd_session.date }}        
    {% else %}
        <em>No Date</em>
    {% endif %} 
</ul>
<hr>

<h4><strong>Heroes Involved:</strong></h4>
<ul>

    {% if dnd_session.heros %}
        
        {% for hero in dnd_session.heros %}
            
            <li><strong><a href="">{{hero.name}}</a></strong> - <em>{{ hero.role }}</em></li>
        {% else %}
            <em>No Heros</em>
        {% endfor %}
    {% else %}
        <em>No Heros</em>
    {% endif %}
    
</ul>
<hr>
<h4><strong>Encounters of the Day:</strong></h4>
<ul>
    {% if dnd_session.encounters %}
        {% for encounter in dnd_session.encounters %}
            
            <li><strong><a href="">{{encounter.name}}</a></strong> - <em>{{ encounter.role }}</em></li>
        {% else %}
            <em>No Encounter</em>
        {% endfor %}
        
    {% else %}
        <em>No Encounter</em>
    {% endif %}
    
</ul>
<hr>
<h4><strong>Chronology of Events:</strong></h4>

<ul>
    {% for key in dnd_session.locations %}
        <li>
            <h5><a href="/{{ dnd_session.locations[key].location_name }}">{{ dnd_session.locations[key].location_name }}</a></h5>
        <ol>
            {% for entry in dnd_session.locations[key].entries %}
                <li class="mb-3">
                    {{ entry.entry_description }}
                </li>
            {% else %}
                <em>No Events</em>
            {% endfor %}
            
        </ol></li>
        
    {% else %}
        <em>No Locations</em>
    {% endfor %}
</ul>
    
<hr>
<h2><strong>Conclusion:</strong></h2>
    <ul>
        {% if dnd_session.conclusion %}
            dnd_session.conclusion
        {% else %}
            <em>No Conclusion</em>
        {% endif %}
    </ul>
    

{% endblock %}
{% block script %}

{% endblock %}